<a href="https://colab.research.google.com/github/hrbolek/functing/blob/main/notebooks/examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Examples for use `functing` Python library

In [1]:
!pip install functing

Requirement already satisfied: functing in /usr/local/lib/python3.7/dist-packages (0.4)

## Example A

In [2]:
from functing.synchronous import createTag
from functing.synchronous import Children

In [3]:
Td = createTag('td')(className='card')
Tr = createTag('tr')()
Th = createTag('th')()
Table = createTag('table')()
TableBody = createTag('tbody')()

def Head(data):
    result = [Th(col) for col in data.keys()]
    return Tr(*result)

def Row(data):
    result = [Td(str(value)) for value in data.values()]
    return Tr(*result)

def FullTable(dataRows):
    bodyRows = [Row(data) for data in dataRows]
    return Table(
        Head(dataRows[0]),
        TableBody(*bodyRows)
    )

In [9]:
subjectTable = [
    {'id': 1024, 'name': 'Mathematics', 'lessons': 60},
    {'id': 1144, 'name': 'English', 'lessons': 30},
    {'id': 1194, 'name': 'History', 'lessons': 75},
    {'id': 1086, 'name': 'Physics', 'lessons': 45},
]

pageCode = FullTable(subjectTable)
html = pageCode()
print(html)
print(''.join(html).replace('<tr>', '\n<tr>'))

['<table>', '<tr>', '<th>', 'id', '</th>', '<th>', 'name', '</th>', '<th>', 'lessons', '</th>', '</tr>', '<tbody>', '<tr>', '<td className="card">', '1024', '</td>', '<td className="card">', 'Mathematics', '</td>', '<td className="card">', '60', '</td>', '</tr>', '<tr>', '<td className="card">', '1144', '</td>', '<td className="card">', 'English', '</td>', '<td className="card">', '30', '</td>', '</tr>', '<tr>', '<td className="card">', '1194', '</td>', '<td className="card">', 'History', '</td>', '<td className="card">', '75', '</td>', '</tr>', '<tr>', '<td className="card">', '1086', '</td>', '<td className="card">', 'Physics', '</td>', '<td className="card">', '45', '</td>', '</tr>', '</tbody>', '</table>']
<table>
<tr><th>id</th><th>name</th><th>lessons</th></tr><tbody>
<tr><td className="card">1024</td><td className="card">Mathematics</td><td className="card">60</td></tr>
<tr><td className="card">1144</td><td className="card">English</td><td className="card">30</td></tr>
<tr><td className="card">1194</td><td className="card">History</td><td className="card">75</td></tr>
<tr><td className="card">1086</td><td className="card">Physics</td><td className="card">45</td></tr></tbody></table>